.App {
  text-align: center;
  background-color: rgb(4, 6, 85);
  
}

.coin-table {
  color: white;
  margin: 30px auto 75px auto;
  font-size: 35px;
   
  
}


.App-title{
  color:rgb(244, 248, 240);
  
}

.App-logo {
  height: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(2, 1, 53);
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


